<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% for file in folders %}
<h2>
    <p>
        {{ file }}
    </p>
</h2>
{% endfor %}
</body>
</html>