<!DOCTYPE html>
<html >

{% load static %}


<head>
  <!-- Site made with Mobirise Website Builder v4.6.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'store/assets/images/sans-titre-2-234x128.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'store/assets/bootstrap-material-design-font/css/material.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">
  <link rel="stylesheet" href="{% static 'store/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i">
  <link rel="stylesheet" href="{% static 'store/assets/et-line-font-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/soundcloud-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/colorm-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/socicon/css/socicon.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
</head>
<body>
  <section class="menu1" id="menu-0" data-rv-view="0">

    <nav class="navbar navbar-dropdown transparent bg-color">
        <div class="container-fluid">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo"><img src="{% static 'store/assets/images/sans-titre-2-234x128.png'%}" alt="Mobirise"></a>
                        <a class="navbar-caption" href="/">SUPFILE</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <span class="hamburger-icon"></span>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/"></a></li><li class="nav-item"><a class="nav-link link" href="register">INSCRIPTION</a></li><li class="nav-item"><a class="nav-link link" href="login">CONNEXION</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <span class="close-icon"></span>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background mbr-after-navbar" id="header2-3" data-rv-view="2" style="background-image: url(../../static/store/assets/images/cloudcomputing-720x400.jpg);">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(41, 128, 185);"></div>

    <div class="mbr-table-cell mbr-table-cell-vertical-bottom">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-xs-left">

                    <h1 class="mbr-section-title display-1">CRÉEZ UN COMPTE : 30 GO GRATUIT &nbsp;</h1>

                    <div class="container-fluid padding-bottom-100">
                        <div class="row position-relative">
                            <div class="col-xs-12 col-md-5 padding-left-0 padding-right-0">   

                                <p class="mbr-section-subtitle display-3 margin-bottom-0 margin-top-0"><br>Vous disposez d’un dossier dont le contenu est synchronisé sur l’ensemble de vos ordinateurs. Tout ce que vous glissez dans ce dossier est automatiquement déposé sur coud, et devient disponible sur l’application web. Si vous modifiez un fichier sur votre ordinateur, il sera à jour sur vos autres équipements.</p>

                            </div>

                            <div class="col-xs-12 col-md-5 col-md-offset-2 text-xs-center text-md-right padding-left-0 padding-right-0 buttons-wrap">
        
                                

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    

</section>

<section class="mbr-section mbr-section-hero features16" id="features16-5" data-rv-view="5" style="background-color: rgb(41, 128, 185); padding-top: 120px; padding-bottom: 120px;">

    

    <div class="mbr-table-cell">

        <div class="container-fluid">
            <div class="row">

                <div class="mbr-cards-col col-xs-12 col-lg-5">
                    <div class="container">
                        <div class="card cart-block">

                            <div class="col-xs-6 padding-left-0 padding-right-0">                                
                                <div class="card-img iconbox"><a href="" class="mbri-cloud mbr-iconfont mbr-iconfont-features16" style="color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 20px, rgba(0, 0, 0, 0.0980392) -10px 10px 7px;"></a></div>
                            </div>
                            <div class="col-xs-6 padding-left-0 padding-right-0">
                                <div class="text-xs-left">
                                    
                                    <p class="mbr-section-text lead"><br><br>Notre cloud est l'un des plus performant et fléxible du marché !</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="mbr-cards-col col-xs-12 col-lg-5 col-lg-offset-1">
                    <div class="container">
                        <div class="card cart-block">
                        
                            <div class="col-xs-6 padding-left-0 padding-right-0">                                
                                <div class="card-img iconbox"><a href="" class="mbri-music mbr-iconfont mbr-iconfont-features16" style="color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 20px, rgba(0, 0, 0, 0.0980392) -10px 10px 7px;"></a></div>
                            </div>
                            <div class="col-xs-6 padding-left-0 padding-right-0">
                                <div class="text-xs-left">
                                    
                                    <p class="mbr-section-text lead"><br>Stocker et streamer toutes vos musiques directement depuis notre plateforme !</p>
                                </div>
                            </div>
                            
                        </div>
                  </div>
                </div>

                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1"></h1>

                </div>

                <div class="mbr-cards-col col-xs-12 col-lg-5">
                    <div class="container">
                        <div class="card cart-block">
                        
                            <div class="col-xs-6 padding-left-0 padding-right-0">                                
                                <div class="card-img iconbox"><a href="" class="mbri-file mbr-iconfont mbr-iconfont-features16" style="color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 20px, rgba(0, 0, 0, 0.0980392) -10px 10px 7px;"></a></div>
                            </div>
                            <div class="col-xs-6 padding-left-0 padding-right-0">
                                <div class="text-xs-left">
                                    
                                    <p class="mbr-section-text lead"><br>stocker et visionner tout vos document directement depuis notre plateforme !</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="mbr-cards-col col-xs-12 col-lg-5 col-lg-offset-1">
                    <div class="container">
                        <div class="card cart-block">
                        
                            <div class="col-xs-6 padding-left-0 padding-right-0">                                
                                <div class="card-img iconbox"><a href="" class="mbri-video mbr-iconfont mbr-iconfont-features16" style="color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 20px, rgba(0, 0, 0, 0.0980392) -10px 10px 7px;"></a></div>
                            </div>
                            <div class="col-xs-6 padding-left-0 padding-right-0">
                                <div class="text-xs-left">
                                    
                                    <p class="mbr-section-text lead"><br>Stocker et streamer toutes vos videos directement depuis notre plateforme !</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

</section>

<section class="mbr-section mbr-section-hero features4" id="features4-8" data-rv-view="8" style="background-image: url(../../static/store/assets/images/mbr-1620x1080.jpg); padding-top: 80px; padding-bottom: 80px;">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(41, 128, 185);"></div>

    <div class="mbr-table-cell">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1">DISPONNIBLE SUR :</h1>

                </div>
            </div>

            <div class="mbr-cards-row row">
                <div class="mbr-cards-col col-xs-12 col-lg-4">
                    <div class="container">
                        <div class="card cart-block">
                            <div class="mbr-figure-background"></div>
                            <div class="card-img iconbox"><a href="https://mobirise.com" class="socicon socicon-apple mbr-iconfont mbr-iconfont-features4" style="color: rgb(255, 255, 255);"></a></div>
                            <div class="card-block text-xs-center">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-cards-col col-xs-12 col-lg-4">
                    <div class="container">
                        <div class="card cart-block">
                            <div class="mbr-figure-background"></div>
                            <div class="card-img iconbox"><a href="https://mobirise.com" class="socicon socicon-windows mbr-iconfont mbr-iconfont-features4" style="color: rgb(255, 255, 255);"></a></div>
                            <div class="card-block text-xs-center">
                                
                                
                            </div>
                        </div>
                  </div>
                </div>
                <div class="mbr-cards-col col-xs-12 col-lg-4">
                    <div class="container">
                        <div class="card cart-block">
                            <div class="mbr-figure-background"></div>
                            <div class="card-img iconbox"><a href="https://mobirise.com" class="fa fa-linux mbr-iconfont mbr-iconfont-features4" style="color: rgb(255, 255, 255);"></a></div>
                            <div class="card-block text-xs-center">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>

            <div class="mbr-section-btn text-xs-center"><a href="https://mobirise.com" class="btn btn-lg btn-white">S'inscrire</a></div>

        </div>
    </div>

</section>

<section class="mbr-section mbr-price-table price-table2 mbr-background" id="pricing-table2-b" data-rv-view="11" style="background-image: url(../../static/store/assets/images/cloud-2000x1125.jpg); padding-top: 40px; padding-bottom: 40px;">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(41, 128, 185);">
    </div>

      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  <h1 class="mbr-section-title main-title" style="margin-bottom: 60px;">NOS ABONNEMENT :</h1>
                  
              </div>
          </div>
      </div>

    <div class="mbr-section mbr-section-nopadding">
      <div class="row priceItem">
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block default">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title">NORMAL</h3>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">$</span>
                            <span class="mbr-price-figure">5.99</span><small class="mbr-price-term">/mo</small>
                          </div>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"><li class="list-group-item"><strong>150</strong> GB</li><li class="list-group-item"><strong>24/7</strong> Support</li></ul></div>
                      
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4" style="padding-left: 0px; padding-right: 0px;">
                <div class="mbr-plan card text-xs-center" style="margin-top: -30px; padding-top: 30px; padding-bottom: 30px; margin-left: -2px; margin-right: -2px; background-color: rgb(255, 255, 255); z-index: 100;">
                    <div class="mbr-plan-header card-block popular">
                      <div class="mbr-plan-label bg-warning" style="top: -14px;">POPULAR</div>
                      <div class="card-title">
                        <h3 class="mbr-plan-title">MINI</h3>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">$</span>
                            <span class="mbr-price-figure">0.00</span><small class="mbr-price-term">/mo</small>
                          </div>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"><li class="list-group-item"><strong>30</strong> GB</li><li class="list-group-item"><strong>NO</strong> Support</li></ul></div>
                      
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block default">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title">XXL</h3>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value">$</span>
                            <span class="mbr-price-figure">9.99</span><small class="mbr-price-term">/mo</small>
                          </div>
                      </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"><ul class="list-group list-group-flush"><li class="list-group-item"><strong>500</strong> GB</li><li class="list-group-item"><strong>24/7</strong> Support</li></ul></div>
                      
                    </div>
                </div>
            </div>
            
          </div>
    </div>

</section>

<section class="mbr-section mbr-section-md-padding social-buttons1 mbr-background" id="social-buttons1-d" data-rv-view="14" style="background-image: url(../../static/store/assets/images/img-extheader7-bg.jpg); padding-top: 0px; padding-bottom: 0px;">
    <div class="mbr-overlay" style="background-color: rgb(41, 128, 185); opacity: 1;">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">PARTAGER SUPFILE !</h3>
                <div>

                  <div class="mbr-social-likes" data-counters="false">
                    <span class="btn btn-social facebook" title="Share link on Facebook">
                        <i class="socicon socicon-facebook"></i>
                    </span>
                    <span class="btn btn-social twitter" title="Share link on Twitter">
                        <i class="socicon socicon-twitter"></i>
                    </span>
                    <span class="btn btn-social plusone" title="Share link on Google+">
                        <i class="socicon socicon-google"></i>
                    </span>
                    
                    
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding footer1 footer7" id="footer7-g" data-rv-view="16" style="background-color: rgb(41, 128, 185); padding-top: 0.875rem; padding-bottom: 0rem;">
    
    <div class="container-fluid">
    	
        <div class="row">
        <div class="col-xs-12">

            <div class="col-xs-12 col-lg-2 text-xs-center text-lg-left table-cell-lg table-cell-middle">
                <div class="logo"><a href="https://mobirise.com"><img src="{% static 'store/assets/images/sans-titre-2-234x128.png' %}" alt="Mobirise"></a></div>
            </div>

            <div class="col-xs-12 col-lg-8 footer-list-2 text-xs-center table-cell-lg table-cell-middle">
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Private policy</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Terms &amp; Conditions</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Copyright Notifications</p>
                </div>
            </div>

            

        </div>
        </div>
    </div>
    <div class="container margin-top-40">
        <p class="text-xs-center mbr-section-text lead">Copyright (c) 2016 SUPFILE.</p>
    </div>
</footer>


  <script src="{% static 'store/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'store/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'store/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'store/assets/viewport-checker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'store/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'store/assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'store/assets/jarallax/jarallax.js' %}"></script>
  <script src="{% static 'store/assets/social-likes/social-likes.js' %}"></script>
  <script src="{% static 'store/assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'store/assets/theme/js/script.js' %}"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>