<!DOCTYPE html>
<html >

{% load static %}


<head>
  <!-- Site made with Mobirise Website Builder v4.6.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'store/assets/images/sans-titre-2-234x128.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'store/assets/bootstrap-material-design-font/css/material.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">
  <link rel="stylesheet" href="{% static 'store/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i">
  <link rel="stylesheet" href="{% static 'store/assets/et-line-font-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/soundcloud-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/colorm-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/socicon/css/socicon.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'store/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
</head>
<body>
  <section class="menu1" id="menu-h" data-rv-view="18">

    <nav class="navbar navbar-dropdown transparent bg-color">
        <div class="container-fluid">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo"><img src="{% static 'store/assets/images/sans-titre-2-234x128.png'%}" alt="Mobirise"></a>
                        <a class="navbar-caption" href="/">SUPFILE</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <span class="hamburger-icon"></span>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/"></a></li><li class="nav-item"><a class="nav-link link" href="register">INSCRIPTION</a></li><li class="nav-item"><a class="nav-link link" href="login">CONNEXION</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <span class="close-icon"></span>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<div id="header4-j" custom-code="true" data-rv-view="22" class="mbr-after-navbar"><section class="mbr-section mbr-section-hero mbr-section-full header4 mbr-parallax-background mbr-after-navbar" data-rv-view="23" style="background-image: url(../../static/store/assets/images/cloud-2000x1125.jpg);">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(41, 128, 185);"></div>

    <div class="mbr-table-cell mbr-table-cell-vertical-bottom content-size">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-xs-center">

<div class="container">
        <div class="card card-container">
        <h2 class="login_title text-center">Inscription</h2>
        <hr>

            <form class="form-signin" method="post" action="register">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">Nom</p>
                <input type="text" name="firstName" class="login_box" placeholder="Example" required="" autofocus="">

                <p class="input_title">Prenom</p>
                <input type="text" name="lastName" class="login_box" placeholder="Example" required="" autofocus="">

                <p class="input_title">Email</p>
                <input type="text" name="email" class="login_box" placeholder="user01@IceCode.com" required="" autofocus="">

                <p class="input_title">Password</p>
                <input type="password" name="password" id="inputPassword" class="login_box" placeholder="******" required="">

                <div id="remember" class="checkbox">
                    <label>
                        
                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit" name="send">Inscription</button>
            </form><!-- /form -->
            {% if attempt == 'already_exist' %}
            <center>
                <p> Email already used for an account </p>
            </center>
            {% endif %}
        </div><!-- /card-container -->
    </div><!-- /container -->
                   

                    

                    

                     
                </div>
            </div>
        </div>
    </div>

    

</section></div>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding footer1 footer7" id="footer7-i" data-rv-view="20" style="background-color: rgb(41, 128, 185); padding-top: 0.875rem; padding-bottom: 0rem;">
    
    <div class="container-fluid">
    	
        <div class="row">
        <div class="col-xs-12">

            <div class="col-xs-12 col-lg-2 text-xs-center text-lg-left table-cell-lg table-cell-middle">
                <div class="logo"><a href="https://mobirise.com"><img src="{% static 'store/assets/images/sans-titre-2-234x128.png'%}" alt="Mobirise"></a></div>
            </div>

            <div class="col-xs-12 col-lg-8 footer-list-2 text-xs-center table-cell-lg table-cell-middle">
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Private policy</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Terms &amp; Conditions</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p class="mbr-section-subtitle display-3">Copyright Notifications</p>
                </div>
            </div>

            

        </div>
        </div>
    </div>
    <div class="container margin-top-40">
        <p class="text-xs-center mbr-section-text lead">Copyright (c) 2016 SUPFILE.</p>
    </div>
</footer>


  <script src="{% static 'store/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'store/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'store/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'store/assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'store/assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'store/assets/viewport-checker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'store/assets/jarallax/jarallax.js' %}"></script>
  <script src="{% static 'store/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'store/assets/theme/js/script.js' %}"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>